*{
  transition-duration: 0.3ms;
}
:root{
  --main-color:#20c997 !important;
  --second:#4c4d4d !important;
}
.text-primary,
.btn-outline-primary,
.border-primary,
.navbar-nav .nav-link.active{
  color:var(--main-color) !important;
}

.bg-primary,
.btn-prmary{
  background-color:var(--main-color) !important;
}

.btn-outline-primary,
.border-primary {
  border-color: var(--main-color) !important;
}

.btn-outline-secondary,
.border-secondary {
  border-color: var(--second) !important;
}
.text-secondary{
  color:#4c4d4d;
}

 .nav-link:hover,
 .nav-link:focus,
 .active,
 i:hover
{
  color:var(--main-color) !important ;
}

/* header */
header.intro{
  height: 100vh;
  
  position: relative;

}

header.intro .back-ground-blender{
  position: absolute;
  opacity: 70%;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}
header.intro .back-ground{
  position: absolute;
  background: url("../image/intro-bg.jpg") center ;  
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
 z-index: -2;
}

ul.navbar-nav .nav-item .nav-link {
  color: white;
  font-size: large;
}
ul.navbar-nav .nav-item .nav-link.active,
ul.navbar-nav .nav-item:hover .nav-link {
  color: var(--main-color) ;
}

ul li a i {
  color: white
}

ul li:hover a i{
  color:blue;
}

header.intro .content {
  flex-grow: 1;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

}
/* name */

.name{
  position: relative;
  padding-bottom: 100px;
  width: 100%;
}
.name:after{
  content: "|";
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%,0);
  font-size: 4rem;
  font-weight:  300;
  animation: namechange 30s ease-in infinite alternate;
  width: 100%;
}



/* arrow */

header.intro .arrow i{
  color: white;
  position: relative;
  animation: arrow 1s alternate infinite  ;
}

@keyframes arrow {
  0%{
    bottom: 0px;
  }

  100%{
    bottom: 40px;
  }
}


/*  */

section{
  padding: 50px 0px;
  overflow: auto;
}


/* about  */


section.about{
  overflow: auto;
}

section .container > h2{
  padding:90px 0px;
  overflow: auto;
  position: relative;
  font-size: 2.5rem;
  z-index: 1;
  text-align: center;
}

section .container > h2::before{
  content: "ABOUT ME";
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  font-size: 6rem;
  transform: translate(-50%,-50%);
  color: #dee3e4;
z-index: -1;
  line-height: 1.25;
  letter-spacing: 4px;
  width: 100%;
}

/* meduim */
@media (max-width: 767.98px) { 
  section .container > h2{
    font-size: 1.5rem;
   
  }
  section .container > h2::before{
    font-size: 4rem;   
  }

  .name{
    padding-bottom: 200px;
  }
  
 }

 /* small */
 @media (max-width: 575.98px){
  section .container > h2{
    font-size: 2.5rem ;
  }
  
  section .container > h2::before{
    font-size: 3.4rem;
   
  }
 }


section .container > h2::after {
  content: "";
  position: absolute;
  left: calc( 50% );
  bottom: calc(50% - 30px ) ;
  transform: translateX(-50% );
  width: 100px;
  height: 2px; 
  background-color: #20c997;
  
}

.about .text p{
  color: #4c4d4d;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.about .numbers .number h4{
  font-size : 4rem;

}
/* services */

section.services .container > h2::before{
  content: "SERVICES";
}


section.services .container .icon {
  width: 70px;
  height: 70px;
  font-size: 30px;
  padding: 10px;
  background-color: #4c4d4d;
}
/* SUMMARY */

section.summary .container > h2::before{
  content: "SUMMARY";
}


/* PORTFOLIO */

section.portfolio .container > h2::before{
  content: "PORTFOLIO";
}
#all{
  position: relative;
}
#all.nav-item::after{
  content: "";
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: var(--main-color);
  bottom: 0px;
  left: 8px;
}

/* TESTIMONIAL */

section.testimonial .container > h2::before{
  content: "TESTIMONIAL";
}

/* CONTACT */

section.contact .container > h2::before{
  content: "CONTACT";
}


/* name keyframes */
@keyframes namechange { 
  0.000000% { 
 content : " I| "; 
 } 
 1.351351% { 
 content : " I'| "; 
 } 
 2.702703% { 
 content : " I'm| "; 
 } 
 4.054054% { 
 content : " I'm | "; 
 } 
 5.405406% { 
 content : " I'm M| "; 
 } 
 6.756757% { 
 content : " I'm Mo| "; 
 } 
 8.108109% { 
 content : " I'm Moa| "; 
 } 
 9.459460% { 
 content : " I'm Moaz| "; 
 } 
 10.810812% { 
 content : " I'm Moaz | "; 
 } 
 12.162164% { 
 content : " I'm Moaz M| "; 
 } 
 13.513515% { 
 content : " I'm Moaz Mo| "; 
 } 
 14.864867% { 
 content : " I'm Moaz Moh| "; 
 } 
 16.216219% { 
 content : " I'm Moaz Moha| "; 
 } 
 17.567570% { 
 content : " I'm Moaz Moham| "; 
 } 
 18.918921% { 
 content : " I'm Moaz Mohame| "; 
 } 
 20.270271% { 
 content : " I'm Moaz Mohamed| "; 
 } 
 21.621622% { 
 content : " I'm Moaz Mohamed "; 
 } 
 22.972973% { 
 content : " I'm Moaz Mohamed| "; 
 } 
 24.324324% { 
 content : " I'm Moaz Mohamed| ";  
 } 
 25.675674% { 
 content : " I'm Moaz Mohamed ";  
 } 
 27.027025% { 
 content : " I'm Moaz Mohamed| ";  
 } 
 28.378376% { 
 content : " I'm Moaz Mohame| ";  
 } 
 29.729727% { 
 content : " I'm Moaz Moham| ";  
 } 
 31.081078% { 
 content : " I'm Moaz Moha| ";  
 } 
 32.432430% { 
 content : " I'm Moaz Moh| ";  
 } 
 33.783783% { 
 content : " I'm Moaz Mo| ";  
 } 
 35.135136% { 
 content : " I'm Moaz M| ";  
 } 
 36.486488% { 
 content : " I'm Moaz | ";  
 } 
 37.837841% { 
 content : " I'm Moaz| ";  
 } 
 39.189194% { 
 content : " I'm Moa| ";  
 } 
 40.540546% { 
 content : " I'm Mo| ";  
 } 
 41.891899% { 
 content : " I'm M| ";  
 } 
 43.243252% { 
 content : " I'm | ";  
 } 
 44.594604% { 
 content : " I'm| ";  
 } 
 45.945957% { 
 content : " I'| ";  
 } 
 47.297310% { 
 content : " I| ";  
 } 
 48.648663% { 
 content : " I| ";  
 } 
 50.000015% { 
 content : " I'| ";  
 } 
 51.351368% { 
 content : " I'm| ";  
 } 
 52.702721% { 
 content : " I'm | ";  
 } 
 54.054073% { 
 content : " I'm W| ";  
 } 
 55.405426% { 
 content : " I'm We| ";  
 } 
 56.756779% { 
 content : " I'm Web| ";  
 } 
 58.108131% { 
 content : " I'm Web | ";  
 } 
 59.459484% { 
 content : " I'm Web D| ";  
 } 
 60.810837% { 
 content : " I'm Web De| ";  
 } 
 62.162189% { 
 content : " I'm Web Dev| ";  
 } 
 63.513542% { 
 content : " I'm Web Deve| ";  
 } 
 64.864891% { 
 content : " I'm Web Devel| ";  
 } 
 66.216240% { 
 content : " I'm Web Develo| ";  
 } 
 67.567589% { 
 content : " I'm Web Develop| ";  
 } 
 68.918938% { 
 content : " I'm Web Develope| ";  
 } 
 70.270287% { 
 content : " I'm Web Developer| ";  
 } 
 71.621635% { 
 content : " I'm Web Developer ";  
 } 
 72.972984% { 
 content : " I'm Web Developer| ";  
 } 
 74.324333% { 
 content : " I'm Web Developer| ";  
 } 
 75.675682% { 
 content : " I'm Web Developer ";  
 } 
 77.027031% { 
 content : " I'm Web Developer| ";  
 } 
 78.378380% { 
 content : " I'm Web Develope| ";  
 } 
 79.729729% { 
 content : " I'm Web Develop| ";  
 } 
 81.081078% { 
 content : " I'm Web Develo| ";  
 } 
 82.432426% { 
 content : " I'm Web Devel| ";  
 } 
 83.783775% { 
 content : " I'm Web Deve| ";  
 } 
 85.135124% { 
 content : " I'm Web Dev| ";  
 } 
 86.486473% { 
 content : " I'm Web De| ";  
 } 
 87.837822% { 
 content : " I'm Web D| ";  
 } 
 89.189171% { 
 content : " I'm Web | ";  
 } 
 90.540520% { 
 content : " I'm Web| ";  
 } 
 91.891869% { 
 content : " I'm We| ";  
 } 
 93.243217% { 
 content : " I'm W| ";  
 } 
 94.594566% { 
 content : " I'm | ";  
 } 
 95.945915% { 
 content : " I'm| ";  
 } 
 97.297264% { 
 content : " I'| ";  
 } 
 98.648613% { 
 content : " I| ";  
 } 
 }