*{
  transition-duration: 0.3ms;
}
:root{
  --main-color:#20c997 !important;
  --second:#4c4d4d !important;
}
.text-primary,
.btn-outline-primary,
.border-primary,
.navbar-nav .nav-link.active{
  color:var(--main-color) !important;
}

.bg-primary,
.btn-prmary{
  background-color:var(--main-color) !important;
}

.btn-outline-primary,
.border-primary {
  border-color: var(--main-color) !important;
}

.btn-outline-secondary,
.border-secondary {
  border-color: var(--second) !important;
}
.text-secondary{
  color:#4c4d4d;
}

 .nav-link:hover,
 .nav-link:focus,
 .active{
  color:var(--main-color) !important ;
}

header.intro{
  height: 100vh;
  
  position: relative;

}

header.intro .back-ground-blender{
  position: absolute;
  opacity: 70%;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}
header.intro .back-ground{
  position: absolute;
  background: url("../image/intro-bg.jpg") center ;  
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
 z-index: -2;
}

ul.navbar-nav .nav-item .nav-link {
  color: white;
  font-size: large;
}
ul.navbar-nav .nav-item .nav-link.active,
ul.navbar-nav .nav-item:hover .nav-link {
  color: var(--main-color) ;
}

ul li a i {
  color: white
}

ul li:hover a i{
  color:blue;
}

header.intro .content {
  flex-grow: 1;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

}

/* arrow */

header.intro .arrow i{
  color: white;
  position: relative;
  animation: arrow 1s alternate infinite  ;
}

@keyframes arrow {
  0%{
    bottom: 0px;
  }

  100%{
    bottom: 40px;
  }
}


/*  */

section{
  padding: 50px 0px;
  overflow: auto;
}


/* about  */


section.about{
  overflow: auto;
}

section .container > h2{
  padding:90px 0px;
  overflow: auto;
  position: relative;
  font-size: 2.5rem;
  z-index: 1;
}

section .container > h2::before{
  content: "ABOUT ME";
  position: absolute;
  left: 50%;
  top: 0px;
  font-size: 120px;
  transform: translate(-50%,45px);
  color: #dee3e4;
z-index: -1;
  line-height: 1.25;
  letter-spacing: 4px;
  width: 100%;
}


section .container > h2::after {
  content: "";
  position: absolute;
  left: calc( 50% );
  bottom: calc(50% - 30px ) ;
  transform: translateX(-50% );
  width: 100px;
  height: 2px; 
  background-color: #20c997;
  
}

.about .text p{
  color: #4c4d4d;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.about .numbers .number h4{
  font-size : 4rem;

}
/* services */

section.services .container > h2::before{
  content: "SERVICES";
}


section.services .container .icon {
  width: 70px;
  height: 70px;
  font-size: 30px;
  padding: 10px;
  background-color: #4c4d4d;
}
/* SUMMARY */

section.summary .container > h2::before{
  content: "SUMMARY";
}


/* PORTFOLIO */

section.portfolio .container > h2::before{
  content: "PORTFOLIO";
  font-size: 7rem;
}
#all{
  position: relative;
}
#all.nav-item::after{
  content: "";
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: var(--main-color);
  bottom: 0px;
  left: 8px;
}

/* TESTIMONIAL */

section.testimonial .container > h2::before{
  content: "TESTIMONIAL";
  font-size: 6rem;
}

/* CONTACT */

section.contact .container > h2::before{
  content: "CONTACT";
}