*{
  transition-duration: 0.3ms;
}
:root{
  --main-color:#20c997 !important;
  --second:#4c4d4d !important;
}

/* start globals */
/* Primary Color Text and Borders */
.text-primary {
  color: var(--main-color) !important;
}

.border-primary {
  border-color: var(--main-color) !important;
}

.navbar-nav .nav-link.active {
  color: var(--main-color) !important;
}

/* Button Styles */
.bg-primary,
.btn-primary {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
  color: white;
}

.btn-outline-primary{
  border-color: var(--main-color);
  color: var(--main-color);
}

.btn-outline-primary:hover {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
  color: white;
}

/* Secondary Button and Border Styles */
.btn-outline-secondary,
.border-secondary {
  border-color: var(--second) !important;
}

.text-secondary {
  color: var(--second);
}

/* Link Hover and Focus Styles */
.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  color: var(--main-color) !important;
}

i:hover {
  color: var(--main-color) !important;
}

/* Navbar Link Styles */
ul.navbar-nav .nav-item .nav-link {
  color: white;
  font-size: large;
}

ul.navbar-nav .nav-item .nav-link.active,
ul.navbar-nav .nav-item:hover .nav-link {
  color: var(--main-color);
}

/* Icon Styles */
ul li a i {
  color: white;
}

ul li:hover a i {
  color: blue;
}


/* end globals */


/* header */
header.intro{
  height: 100vh;
  
  position: relative;

}

header.intro .back-ground-blender{
  position: absolute;
  opacity: 70%;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}
header.intro .back-ground{
  position: absolute;
  background: url("../image/intro-bg.jpg") center ;  
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
 z-index: -2;
}


header.intro .content {
  flex-grow: 1;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

}
/* name */

.name{
  position: relative;
  padding-bottom: 100px;
  width: 100%;
}
.name:after{
  content: "|";
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%,0);
  font-size: 4rem;
  font-weight:  300;
  animation: namechange 30s ease-in infinite;
  width: 100%;
}



/* arrow */

header.intro .arrow i{
  color: white;
  position: relative;
  animation: arrow 1s alternate infinite  ;
}

@keyframes arrow {
  0%{
    bottom: 0px;
  }

  100%{
    bottom: 40px;
  }
}


/*  */

section{
  padding: 50px 0px;
  overflow: auto;
}


/* about  */


section.about{
  overflow: auto;
}

section .container > h2{
  padding:90px 0px;
  overflow: auto;
  position: relative;
  font-size: 2.5rem;
  z-index: 1;
  text-align: center;
}

section .container > h2::before{
  content: "ABOUT ME";
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  font-size: 6rem;
  transform: translate(-50%,-50%);
  color: #dee3e4;
z-index: -1;
  line-height: 1.25;
  letter-spacing: 4px;
  width: 100%;
}

/* meduim */
@media (max-width: 767.98px) { 
  section .container > h2{
    font-size: 1.5rem;
   
  }
  section .container > h2::before{
    font-size: 4rem;   
  }

  .name{
    padding-bottom: 200px;
  }
  
 }

 /* small */
 @media (max-width: 575.98px){
  section .container > h2{
    font-size: 2.5rem ;
  }
  
  section .container > h2::before{
    font-size: 3.4rem;
   
  }
 }


section .container > h2::after {
  content: "";
  position: absolute;
  left: calc( 50% );
  bottom: calc(50% - 30px ) ;
  transform: translateX(-50% );
  width: 100px;
  height: 2px; 
  background-color: var(--main-color);
  
}

.about .text p{
  color: var(--second);
  line-height: 1.8;
  margin-bottom: 1rem;
}

.about .numbers .number h4{
  font-size : 4rem;

}
/* services */

section.services .container > h2::before{
  content: "SERVICES";
}


section.services .container .icon {
  width: 70px;
  height: 70px;
  font-size: 30px;
  padding: 10px;
  background-color: var(--second);
}
/* SUMMARY */

section.summary .container > h2::before{
  content: "SUMMARY";
}


/* PORTFOLIO */

section.portfolio .container > h2::before{
  content: "PORTFOLIO";
}
#all{
  position: relative;
}
#all.nav-item::after{
  content: "";
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: var(--main-color);
  bottom: 0px;
  left: 8px;
}

/* TESTIMONIAL */

section.testimonial .container > h2::before{
  content: "TESTIMONIAL";
}

/* CONTACT */

section.contact .container > h2::before{
  content: "CONTACT";
}


/* name keyframes */
@keyframes namechange { 
  0.000000% { 
    content : " I| "; 
    } 
    1.282051% { 
    content : " I'| "; 
    } 
    2.564103% { 
    content : " I'm| "; 
    } 
    3.846154% { 
    content : " I'm | "; 
    } 
    5.128205% { 
    content : " I'm M| "; 
    } 
    6.410256% { 
    content : " I'm Mo| "; 
    } 
    7.692307% { 
    content : " I'm Moa| "; 
    } 
    8.974359% { 
    content : " I'm Moaz| "; 
    } 
    10.256410% { 
    content : " I'm Moaz | "; 
    } 
    11.538461% { 
    content : " I'm Moaz M| "; 
    } 
    12.820512% { 
    content : " I'm Moaz Mo| "; 
    } 
    14.102563% { 
    content : " I'm Moaz Moh| "; 
    } 
    15.384614% { 
    content : " I'm Moaz Moha| "; 
    } 
    16.666666% { 
    content : " I'm Moaz Moham| "; 
    } 
    17.948717% { 
    content : " I'm Moaz Mohame| "; 
    } 
    19.230768% { 
    content : " I'm Moaz Mohamed| "; 
    } 
    20.512819% { 
    content : " I'm Moaz Mohamed.| "; 
    } 
    21.794870% { 
    content : " I'm Moaz Mohamed. "; 
    } 
    23.076921% { 
    content : " I'm Moaz Mohamed.| "; 
    } 
    24.358973% { 
    content : " I'm Moaz Mohamed.| ";  
    } 
    25.641024% { 
    content : " I'm Moaz Mohamed. ";  
    } 
    26.923075% { 
    content : " I'm Moaz Mohamed.| ";  
    } 
    28.205126% { 
    content : " I'm Moaz Mohamed| ";  
    } 
    29.487177% { 
    content : " I'm Moaz Mohame| ";  
    } 
    30.769228% { 
    content : " I'm Moaz Moham| ";  
    } 
    32.051281% { 
    content : " I'm Moaz Moha| ";  
    } 
    33.333332% { 
    content : " I'm Moaz Moh| ";  
    } 
    34.615383% { 
    content : " I'm Moaz Mo| ";  
    } 
    35.897434% { 
    content : " I'm Moaz M| ";  
    } 
    37.179485% { 
    content : " I'm Moaz | ";  
    } 
    38.461536% { 
    content : " I'm Moaz| ";  
    } 
    39.743587% { 
    content : " I'm Moa| ";  
    } 
    41.025639% { 
    content : " I'm Mo| ";  
    } 
    42.307690% { 
    content : " I'm M| ";  
    } 
    43.589741% { 
    content : " I'm | ";  
    } 
    44.871792% { 
    content : " I'm| ";  
    } 
    46.153843% { 
    content : " I'| ";  
    } 
    47.435894% { 
    content : " I| ";  
    } 
    48.717945% { 
    content : " I| ";  
    } 
    49.999996% { 
    content : " I'| ";  
    } 
    51.282047% { 
    content : " I'm| ";  
    } 
    52.564098% { 
    content : " I'm | ";  
    } 
    53.846149% { 
    content : " I'm W| ";  
    } 
    55.128201% { 
    content : " I'm We| ";  
    } 
    56.410252% { 
    content : " I'm Web| ";  
    } 
    57.692303% { 
    content : " I'm Web | ";  
    } 
    58.974354% { 
    content : " I'm Web D| ";  
    } 
    60.256405% { 
    content : " I'm Web De| ";  
    } 
    61.538456% { 
    content : " I'm Web Dev| ";  
    } 
    62.820507% { 
    content : " I'm Web Deve| ";  
    } 
    64.102562% { 
    content : " I'm Web Devel| ";  
    } 
    65.384613% { 
    content : " I'm Web Develo| ";  
    } 
    66.666664% { 
    content : " I'm Web Develop| ";  
    } 
    67.948715% { 
    content : " I'm Web Develope| ";  
    } 
    69.230766% { 
    content : " I'm Web Developer| ";  
    } 
    70.512817% { 
    content : " I'm Web Developer.| ";  
    } 
    71.794868% { 
    content : " I'm Web Developer. ";  
    } 
    73.076920% { 
    content : " I'm Web Developer.| ";  
    } 
    74.358971% { 
    content : " I'm Web Developer.| ";  
    } 
    75.641022% { 
    content : " I'm Web Developer. ";  
    } 
    76.923073% { 
    content : " I'm Web Developer.| ";  
    } 
    78.205124% { 
    content : " I'm Web Developer| ";  
    } 
    79.487175% { 
    content : " I'm Web Develope| ";  
    } 
    80.769226% { 
    content : " I'm Web Develop| ";  
    } 
    82.051277% { 
    content : " I'm Web Develo| ";  
    } 
    83.333328% { 
    content : " I'm Web Devel| ";  
    } 
    84.615379% { 
    content : " I'm Web Deve| ";  
    } 
    85.897430% { 
    content : " I'm Web Dev| ";  
    } 
    87.179482% { 
    content : " I'm Web De| ";  
    } 
    88.461533% { 
    content : " I'm Web D| ";  
    } 
    89.743584% { 
    content : " I'm Web | ";  
    } 
    91.025635% { 
    content : " I'm Web| ";  
    } 
    92.307686% { 
    content : " I'm We| ";  
    } 
    93.589737% { 
    content : " I'm W| ";  
    } 
    94.871788% { 
    content : " I'm | ";  
    } 
    96.153839% { 
    content : " I'm| ";  
    } 
    97.435890% { 
    content : " I'| ";  
    } 
    98.717941% { 
    content : " I| ";  
    } 
   
 }